
*{
    font-family: Courier;
    background-color: #1e1e1e;
}

.nav li{
    display: inline;
    text-align: center;
}

html, body{
    margin-left: 1;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav a{
    
    display:inline-block;
    padding-right: 11%;
    padding-left: 16.75%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    color: #d4d4d4;
    font-size: 20px;
    background-color: #272c35;
}

.nav a:hover{
    background-color: #30363f;
}

.main-header-question {
    display: block;
    background-color: #272c35;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #d4d4d4;
    margin-left: 2.7%;
    margin-right: 1.6%;
}



.civpic {
    height:400px;
    border: 20px solid #30363f;
    margin-left: 4%;
}

.special-site{
    width: 500px;
    height: 400px;
    border: 20px solid #30363f;
    margin-left: 15%;
}

.main-elements{
    display: flex;
    flex-wrap: wrap;
    background-color: #30363f;
    margin-right: 1.7%;
    margin-left: 2.6%;
}

.lastquestion{
    display:block;
    color: #d4d4d4;
    background-color: #30363f;
    font-size: xx-large;
    text-align: center;
    margin-right: 1.7%;
    margin-left: 2.7%;

}

.intro{
    color: #d4d4d4;
    margin-left: 15%;
}

.li1{
    color: #679751;
}

.num{
    color:#d4d4d4;
}

.orglist{
    box-sizing: border-box;
    border: 5px solid #272c35;
    padding: 10px;
    margin-left: 70px;
}

.lastsection{
    display: flex;
    flex-wrap: wrap;
}

.matlabs {
    height: 200px;
    margin-left: 200%;
}


.ipad{
    height: 400px;
    margin-left: 40%;
}